.green {
    background-color: green; /* Устанавливает зеленый цвет фона для элементов с классом "green" */
    color: white; /* Устанавливает белый цвет текста для элементов с классом "green" */
}

.red {
    background-color: red; /* Устанавливает красный цвет фона для элементов с классом "red" */
    color: white; /* Устанавливает белый цвет текста для элементов с классом "red" */
}